import processing.serial.*;
Serial myPort;

int i,dd, md, cc, cf;
int sd01, sd02, sd03, sd04, sd05, sd06;
int[] rd = new int[100];  
int[] td = new int[100];

void setup() {
  size(500, 500);
  frameRate(50);
  myPort = new Serial(this, "COM3", 57600);   //Enter the COM No. of your Xbee explorer in "COM 3".
  dd = 0;
  cc = 0;
  myPort.clear();
  background(0);
}

void draw() {
  background(0);
  stroke(255, 255, 255);
  noStroke();
  if (cc==0) {
    background(128);
  } else {
    cc--;               
    background(0);
  }
}

void serialEvent(Serial myPort) {   
  int d = myPort.read();
  if (d == 126 && cf == 0) {
    dd = 0;
    cf = 1;
  }
  td[dd] = d;
  if (dd == 3) {
    md = td[1]*256+td[2];
  }
  dd++;
  if (dd==100) {
    dd = 0;
    cf = 0;
  }

  if (dd==md+4) {
    for (i=0; i<dd; i++) {
      rd[i] = td[i];
      sd01 = rd[11]*256+rd[12];
      sd02 = rd[13]*256+rd[14];
      sd03 = rd[15]*256+rd[16];
      sd04 = rd[17]*256+rd[18];
      sd05 = rd[19]*256+rd[20];
      sd06 = rd[21]*256+rd[22];
      println("[", td[5], "]", "[", td[6], "]", 
        sd01, sd02, sd03, sd04, sd05, sd06);
    }
    cf = 0;
  }
  if (rd[6] > 30){
    cc=10;
  }
}
